/* scroll bar */

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


html {

    background-image: linear-gradient(#955A7F, white);
    background-repeat: no-repeat;
}

body {
    margin: 0px;
}



h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 1px 2px rgb(90, 88, 88);
}

.mount {


    height: 300px;
    background: url(./img/Interface.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: -1;

}

.credit {

    bottom: 0px;
    font-family: 'Tomorrow', sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
    position: static;
    bottom: 10px;
    width: 100%;
    margin: auto;

}


.MainGrid {
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;

    padding: 30px;
    width: 45%;
    height: 500px;
    display: none;

}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border: 5px solid white;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;


    background-color: #75DBD0;
    -webkit-transition: .4s;
    transition: .4s;
    height: 35px;
    width: 75px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ccc;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 40px;

}

.slider.round:before {
    border-radius: 50%;
}

.SwitchToZug {
    display: none;
    max-width: 700px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    justify-items: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;





}

.boxes {
    display: none;
    justify-content: center;
    height: 50vh;
    width: 90%;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;






}

.Fight {

    height: 70%;
}

.box {
    height: 80%;
    width: 45%;
    margin: auto;
    background-color: #75DBD0;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}

#pcBox {
    background: url(./img/3x/right.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-bottom: -50px;

}


.rightBoxAnimation {
    -webkit-animation-name: rightBoxAnimation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 3s;
    animation-name: rightBoxAnimation;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rightBoxAnimation {
    0% {
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }


    50% {
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }
}


/* Standard syntax */

@keyframes rightBoxAnimation {
    0% {
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }


    50% {
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }
}


#userBox {

    width: 100%;
    height: 100%;
    margin-bottom: -50px;
    background: url(./img/3x/left.png);
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);

}



.leftBoxAnimation {
    -webkit-animation-name: leftBoxAnimation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    animation-duration: 3s;
    animation-name: leftBoxAnimation;
    animation-iteration-count: infinite;
}

@-webkit-keyframes leftBoxAnimation {
    0% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
    }


    50% {
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
    }

    100% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
    }
}


/* Standard syntax */

@keyframes leftBoxAnimation {
    0% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
    }


    50% {
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
    }

    100% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
    }
}



.boxBorder {

    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    height: 100%;
    width: 431px;



}

.boxBorderLeft {

    margin-right: 15px;
}

.boxBorderRight {

    margin-left: 15px;
}

.pcBoxBG {
    height: 100%;
    border-radius: 10px white;
    background-color: #75DBD0;


}

.userBoxBG {

    height: 100%;
    border-radius: 10px white;
    background-color: #75DBD0;

}

.boxesBG {


    width: 100%;
    display: flex;

    border-radius: 5px;



}

.button {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-origin: content-box !important;
    background-color: #75DBD0 !important;
    border: 7px solid white;
    border-radius: 20px;

    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;

    width: 93px;
    height: 93px;

}

.button:hover {
    background-color: rgba(149, 90, 127, 0.678) !important;

}

.b1 {
    background: url(./numbers/1.png);
}

.b2 {
    background: url(./numbers/2.png);
}

.b3 {
    background: url(./numbers/3.png);
}

.b4 {
    background: url(./numbers/4.png);
}

.b5 {
    background: url(./numbers/5.png);
}

.FingerBtns {
    display: none;
    justify-content: center;
    position: static;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}

.zugAndPeredTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Tomorrow', sans-serif;
    font-size: 25px;
    color: white;
}





#P2Name {
    display: none;
}

.playB {
    width: 50%;
    border-color: rgb(94, 94, 94);

    border-width: 1px;
    font-family: 'Tomorrow', sans-serif;

    font-size: 25px;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: #f1c40f;
}

.form {
    width: 400px;

    margin: auto;

    background-color: #3498db;
    text-align: center;

    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
}

.form:hover {
    box-shadow: 0px 0px 0px 0px #f1c40f;

}

.inputs {
    width: 80%;
    height: 45px;
    margin: auto;
    margin-top: 15px;
    padding-left: 14px;
    border-color: rgb(94, 94, 94);

    border-width: 1px;
    font-family: 'Tomorrow', sans-serif;

    font-size: 25px;
}

#GameType {
    height: 50px;
    width: 85%;
}

.FormeBg {
    width: 100%;
}

.NameAndTitle {
    display: flex;
}

.peredZugSmaller {
    font-size: 15px;
}



.buttons {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    color: white;
    font-family: 'Tomorrow', sans-serif;

    font-size: 15px;
    border: 0px;
    box-shadow: 2px 2px 5px 1px black;
}

#dontClick {
    background-color: #e74c3c;
    margin: 3px;
}

#dontClick:active {
    margin-left: 9px;
    box-shadow: 0px 0px 0px 0px black;
}

#Instructions {
    background-color: #3498db;
    margin-left: 50px;
}

.mainButtons {
    display: flex;
}


#InstructionsDiv {
    margin-left: 100px;
    background: white;
    border: 1px solid grey;
    width: 400px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0.5px;
    display: none;
}

#InstructionsText {
    padding: 10px;
    font-family: 'Tomorrow', sans-serif;

}

#closeInstructions {
    color: rgb(245, 240, 240);
    font-family: 'Tomorrow', sans-serif;

    float: right;
    background: red;
    border-radius: 10px;
}



/* start of desktop styles */

@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
    /* start of phone styles */

    .boxBorderLeft {

        height: 30vh;
        width: 80%;
    }


    .boxBorderRight {

        height: 30vh;
        width: 80%;
    }

    .boxes {
        height: auto;
        margin-bottom: 20px;
    }

    .FingerBtns {
        width: 90%;
        flex-wrap: wrap;
    }

    h1 {
        margin-top: 10px;
        font-size: 30px;

    }

    .button {

        border: 5px solid white;
        width: 80px;
        height: 80px;
        flex-grow: 1;
    }

    .credit {

        font-size: 12px;
        color: white;

    }

    .SwitchToZug {

        width: 90%;
    
    }


}